.myBG {
    height: 100vh;
    background: url("../assets/images/bg/main.jpg");
    background-size: cover;
}

.intro{
    height: 300px;
    display:flex;
    justify-content: end;
    align-items: end;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 7px 4px rgb(12, 7, 7);
}

.trending{
    height: 100vh;
    background: url("../assets/images/bg/mobil.jpg");
    background-size: cover;
}