.myBG {
    height: 100vh;
    background: url("../assets/images/bg/main.jpg");
    background-size: cover;
}

.intro{
    height: 300px;
    display:flex;
    justify-content: end;
    align-items: end;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 7px 4px rgb(12, 7, 7);
}

.trending{
    height: auto;
    background: url("../assets/images/bg/mobil.jpg");
    background-size: cover;
}

.superhero{
    height: auto;
    background: url("../assets/images/bg/superhero.jpg");
    background-size: cover;
}
.movieWrapper{

}

.synopsis {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.6;
  /* no height fixed */
}

.movieImage{
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.images{
    height:500px;
}